
# .env.example

# Discord webhook URL for posting updates
WEBHOOK_URLS=https://discord.com/api/webhooks/your_webhook_url1,https://discord.com/api/webhooks/your_webhook_url2

# Anthropic API model identifier
MODEL=your_model_identifier

# Google Cloud
REGION=your_region

# Google Cloud project ID
PROJECT_ID=your_project_id

# Path to store the last processed date from the RSS feed
DATE_FILE_PATH=path_to_store_last_processed_date.txt

# RSS feed URL from American Physical Society's Physical Review Journals
RSS_URL=http://feeds.aps.org/rss/allsuggestions.xml
